
input[type="file"]::-webkit-file-upload-button {
    background-color: #7d4eff;
    color: #fff;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
  }
  

  .select-default {
    color: gray; /* Cambia "gray" por el color que desees */
  }
  
  .select-default option:first-child {
    color: gray; /* Cambia "gray" por el color que desees */
  }

  .checkbox-large {
    transform: scale(1.5); /* Cambia el valor según el tamaño que prefieras */
  }
  