.header-top {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 4px;

    @media screen and (max-width: 768px) {
        // para dispositivos móviles
        flex-direction: column; // cambia la dirección a columna
        align-items: stretch; // hace que los elementos ocupen todo el ancho
    }
}

.our-product-wrapper .our-product-content .common-f-start {
    gap: 6px;
    margin-top: 8px;
}


/* app.component.css */
.payment-options {
    text-align: center;
    margin-top: 50px;
  }
  
  .icons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
  
  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
  }
  
  .icon img {
    width: 50px;
    height: 50px;
  }
  
  .icon span {
    margin-top: 10px;
    font-size: 14px;
  }