<div class="card customer-sticky">
  <div class="card-header card-no-border p-3">
    <div class="header-top">
      <h5 class="m-0">{{'Cliente' | translate}} </h5>
      <div class="card-header-right-icon create-right-btn m-l-5">
        <a class="btn btn-primary f-w-500" href="javascript:void(0)" (click)="openModal()">{{'Crear +' | translate}}</a>
      </div>
    </div>
  </div>
  <div class="card-body pt-0 order-details p-3">
    <div class="search-items">
      <div class="input-group common-search">
        <span class="input-group-text">
          <i data-feather="search" height="16" width="16" class="fc-gray"></i>
        </span>
        <input #clienteBuscar class="form-control" type="text"
          placeholder="{{'Buscar documento cliente...' | translate }}">
      </div>
      <div class="common-flex">
        <a class="btn bc-primary ml-3 fc-white" (click)="buscar()">{{ 'Buscar' | translate }}</a>
        <a class="btn bc-secondary ml-3 fc-white" (click)="limpiar()">{{'Limpiar' | translate }}</a>
      </div>

      <div class="p-2" *ngIf="datosCliente">
        <div class="d-flex justify-content-between">
          <h6 class="mb-2 fw-bold">Información del Cliente</h6>
          <button class="btn btn-sm btn-outline-primary" (click)="editarCliente()">
            <i class="icofont icofont-pencil-alt-5"></i>
          </button>
        </div>
        <p class="mb-1"><strong>Documento: </strong>&nbsp;{{datosCliente?.documento}}</p>
        <p class="mb-1"><strong>Nombre: </strong>&nbsp;{{datosCliente?.nombres_completos}} {{datosCliente?.apellidos_completos}}</p>
        <p class="mb-1"><strong>Celular: </strong>&nbsp;{{datosCliente?.numero_celular_comprador}}</p>
        <p class="mb-1"><strong>Correo: </strong>&nbsp;{{datosCliente?.correo_electronico_comprador}}</p>
      </div>


    </div>
    <h5 class="m-0">{{ 'Facturación' | translate }}</h5>
    <!-- <div class="input-group common-search p-b-15">
      <span class="input-group-text">
        <i data-feather="search" height="16" width="16" class="fc-gray"></i>
      </span>
      <input class="form-control" type="text" placeholder="{{ 'Buscar producto...' | translate }}">
    </div> -->
    <div class="order-quantity p-b-20 border-bottom">
      <div class="custom-scrollbar">
        <div *ngIf="cartService.posCartItems && cartService.posCartItems.length">
          <div *ngFor="let item of cartService.posCartItems; track item">
            <div class="order-details-wrapper">
              <div class="left-details">
                <div class="order-img widget-hover">
                  <img [src]="item.crearProducto.imagenesPrincipales[0].urls" [alt]="item.product_name">
                </div>
              </div>
              <div class="category-details">
                <div class="order-details-right">
                  <div *ngIf="item.product_code">
                    <!-- <span class="text-gray mb-1">Category : <span class="font-dark">{{ item.category }}</span>
                    </span> -->
                  </div>
                  <h6 class="f-14 f-w-500 mb-3">{{ item.crearProducto.titulo }}</h6>
                  <div class="last-order-detail">
                    <h6 class="txt-primary">${{ item.precio.precioUnitarioConIva | number:'1.2-2' }}</h6>
                    <a href="javascript:void(0)">
                      <i class="fa fa-trash trash-remove" (click)="cartService.posRemoveCartItem(item)"></i>
                    </a>
                  </div>
                </div>
                <div class="right-details mb-3">
                  <div class="touchspin-wrapper">
                    <button class="decrement-touchspin btn-touchspin">
                      <i class="fa fa-minus icono-pos" (click)="cartService.updatePOSQuantity(-1, item)"></i>
                    </button>
                    <span class="input-touchspin fs-14 fc-gray" [id]="'inputData' + item.id"
                      type="text">{{item.cantidad}}</span>
                    <button class="increment-touchspin btn-touchspin">
                      <i class="fa fa-plus icono-pos" (click)="cartService.updatePOSQuantity(1, item)"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div *ngIf="!(cartService.posCartItems && cartService.posCartItems.length)">
          <div class="card-body p-0 empty-card trash-items show">
            <div class="empty-cart-wrapper">
              <div class="empty-cart-content">
                <img src="assets/images/order-trash.gif" alt="order-trash">
              </div>
              <h6 class="text-gray">{{ 'Tu carrito está vacío' | translate }}</h6>
              <a href="javascript:void(0)" [routerLink]="['/category']"> </a>
            </div>
          </div>
        </div>
      </div>
      <div class="coupon-code">
        <div class="input-group">
          <input class="form-control" type="text" placeholder="{{'Código del cupón...' | translate }}"
            aria-label="Enter Code" aria-describedby="button-addon2">
          <button class="btn bg-light-secondary" id="button-addon2" type="button">{{'Aplicar' | translate }}</button>
        </div>
      </div>
    </div>
    <div class="total-item">
      <div class="item-number"><span class="text-gray">{{ 'Cantidad' |
          translate}}</span><span>{{cartService.posCartItems.length}}
          (Items)</span></div>
      <div class="item-number"><span class="text-gray">{{ 'Descuento' | translate }}</span><span>$0.00</span></div>
      <div class="item-number"><span class="text-gray">{{ 'Cupón de descuento' | translate }}</span><span>$0.00</span>
      </div>
      <div class="item-number border-bottom"><span class="text-gray">Subtotal</span><span>{{
          cartService.getPOSSubTotal() }}</span></div>
      <div class="item-number pt-3 pb-0"><span class="f-w-500">Total</span>
        <h6 class="f-w-500">{{ cartService.getPOSSubTotal() }}</h6>
      </div>
    </div>
    <h5 class="m-0 p-t-40">{{ 'Método de pago' | translate }}</h5>

    <!-- app.component.html -->
    <div class="payment-options mt-1">
      <div class="icons">
        <button (click)="openCashModal()" class="icon">
          <img src="assets/images/dashboard-8/payment-option/cash.svg" alt="Efectivo" />
          <span>Efectivo</span>
        </button>
        <button (click)="openCardModal()" class="icon">
          <img src="assets/images/dashboard-8/payment-option/card.svg" alt="Métodos Electrónicos" />
          <span>Métodos Electrónicos</span>
        </button>
        <button (click)="openEWalletModal()" class="icon">
          <img src="assets/images/dashboard-8/payment-option/wallet.svg" alt="E-wallet" />
          <span>E-wallet</span>
        </button>
      </div>
    </div>


    <!-- <div class="payment-methods">
      <div *ngFor="let method of checkoutMethod1">
        <div class="bg-payment widget-hover">
          <img [src]="method.image" alt="cash" (click)="selectMethod(method.title)">
        </div>
        <span class="f-w-500 text-gray fs-14" (click)="selectMethod(method.title)">{{method.title}}</span>
      </div>
    </div>
    <div class="place-order">
      <button class="btn bc-primary fc-white btn-hover-effect w-100 f-w-500" type="button"
        (click)="openModalPayment()">{{ 'Pagar' | translate
        }}</button>
    </div> -->

    <!-- <button (click)="openModal('cash')">Efectivo</button>
    <button (click)="openModal('card')">Tarjeta</button>
    <button (click)="openModal('ewallet')">Ewallet</button> -->


  </div>
</div>

<!-- <app-payment-modal [paymentType]="selectedPaymentType"
[title]="'Método de Pago: ' + selectedPaymentType" (close)="closeModalPayment()">
</app-payment-modal> -->