<div class="modal-header d-flex justify-content-between align-items-center">
    <h4 class="modal-title mb-0">
      <i class="icofont icofont-clock-time"></i>&nbsp;{{ isEditing ? 'Editar' : 'Crear' }} tiempo de entrega
    </h4>
    <button type="button" class="btn-close p-2" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
   
    </button>
  </div>
  
  <div class="modal-body">
    <div class="card">
      <div class="card-body p-4">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="input1">Nombre interno</label>
              <input type="text" class="form-control" id="input1" formControlName="nombreInterno">
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="input2">Nombre externo</label>
              <input type="text" class="form-control" id="input2" formControlName="nombreExterno">
            </div>
          </div>
  
          <div class="mb-3">
            <label class="form-label" for="textarea">Descripción</label>
            <textarea class="form-control" id="textarea" rows="3" formControlName="descripcion"></textarea>
          </div>
  
          <div class="row">
            <div class="col-md-6 mb-3">
              <label class="form-label" for="number">Días mínimo</label>&nbsp;
              <span type="button" class="help" placement="top"
                ngbPopover="{{'Tipo numérico. Es el número mínimo de días para la entrega.' | translate}}">
                <i class="icon-help-alt fc-primary" style="cursor: pointer;"></i>
              </span>
              <input type="number" class="form-control" id="number" formControlName="minDias">
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-label" for="number">Posición</label>&nbsp;
              <span type="button" class="help" placement="top"
                ngbPopover="{{'Tipo numérico. Es la posición que toma el tiempo de entrega en la lista.' | translate}}">
                <i class="icon-help-alt fc-primary" style="cursor: pointer;"></i>
              </span>
              <input type="number" class="form-control" id="number" formControlName="posicion">
            </div>
          </div>
  
          <div class="mb-3">
            <input type="checkbox" class="checkboxK" id="checkbox" formControlName="activo">
            <label class="form-label ms-2" for="checkbox">Activo/Inactivo</label>
          </div>
  
          <div class="mb-3">
            <label class="form-label" for="select2">Ciudades</label>
            <ng-select [items]="empresaActual?.ciudadess?.ciudadesEntrega" bindLabel="label"
              bindValue="value" placeholder="Selecciona una o varias ciudades" formControlName="ciudad"
              [multiple]="true">
            </ng-select>
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss('Cancel click')">Cancelar</button>
    <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="!form.valid">
      <i class="icofont icofont-save"></i>&nbsp; {{ isEditing ? 'Actualizar' : 'Guardar' }}
    </button>
  </div>