<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-2">
            <br />
            <div class="card">
                <i class="fa fa-warehouse icon-bg" width="80" height="80" style="
                        opacity: 0.4;
                        position: absolute;
                        color: #6ec0d4;
                        top: 10px;
                        left: 10px;
                    "></i>
                <div class="loader-box" *ngIf="cargando">
                    <div class="loader-8"></div>
                </div>

                <!-- Header Estilo Similar -->
                <div class="row col-12 m-2">
                    <div class="col-6">
                        <p class="text-left fw-bold fc-secondary fs-24 m-0 p-0">Bodegas</p>
                        <p class="text-left text-muted fs-18 m-0 p-0">Listado de bodegas</p>
                    </div>

                    <div class="col-6 p-3" style="text-align: end">
                        <button class="btn btn-primary btn-previous ml-3 mb-2" type="button" (click)="abrirModalCrear()">
                            <i class="fa fa-plus" style="
                                    font-size: 18px;
                                    color: white;
                                    cursor: pointer;
                                "></i>&nbsp;
                            <span style="color: white">Crear Bodega</span>
                        </button>
                        <button class="btn btn-success ml-3 mb-2" style="color: white" (click)="exportarExcel()">
                            <i class="fa fa-file-excel-o"></i>&nbsp;
                            Excel
                        </button>
                    </div>
                </div>
                <!-- FIN Header -->

                <div class="card-body custom-datatable" *ngIf="!cargando">
                    <p-table #dt [columns]="selectedColumns" [value]="bodegas" [paginator]="true" [rows]="10"
                        [resizableColumns]="true" [scrollable]="true" scrollHeight="flex" [loading]="cargando"
                        styleClass="p-datatable-gridlines p-datatable-striped" [rowsPerPageOptions]="[10, 20, 50]"
                        [globalFilterFields]="['nombre', 'idBodega', 'ciudad', 'tipo']" [tableStyle]="{ 'min-width': '20rem' }" [rowHover]="true">

                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th class="text-center" pSortableColumn="nombre">Bodega</th>
                                <th class="text-center" pSortableColumn="idBodega">Código</th>
                                <th class="text-center" pSortableColumn="ciudad">Ubicación</th>
                                <th class="text-center" pSortableColumn="tipo">Tipo</th>
                                <th class="text-center">Acciones</th>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="body" let-bodega>
                            <tr>
                                <td>{{ bodega.nombre }}</td>
                                <td class="text-center">{{ bodega.idBodega }}</td>
                                <td class="text-center">
                                    <span *ngIf="bodega.tipo === 'Física'">
                                        {{ bodega.ciudad }}, {{ bodega.departamento }}
                                    </span>
                                    <span *ngIf="bodega.tipo === 'Transaccional'" class="text-muted">
                                        Virtual
                                    </span>
                                </td>
                                <td class="text-center">
                                    <!-- Para bodegas Físicas -->
                                    <span *ngIf="bodega.tipo === 'Física'" 
                                          class="badge rounded-pill bg-primary p-2">
                                        <i class="fa fa-building me-1"></i> {{ bodega.tipo }}
                                    </span>
                                    
                                    <!-- Para bodegas Transaccionales -->
                                    <span *ngIf="bodega.tipo === 'Transaccional'" 
                                          class="badge rounded-pill bg-info p-2">
                                        <i class="fa fa-cloud me-1"></i> {{ bodega.tipo }}
                                    </span>
                                </td>
                                <td class="text-center">
                                    <i placement="top" ngbTooltip="Editar"
                                        style="font-size: 18px; margin-left: 10px; cursor: pointer;"
                                        class="fa fa-pencil fc-primary" (click)="abrirModalEditar(bodega)">
                                    </i>
                                    <i placement="top" ngbTooltip="Eliminar"
                                        style="font-size: 18px; margin-left: 10px; cursor: pointer;"
                                        class="fa fa-trash fc-danger" (click)="eliminarBodega(bodega)">
                                    </i>
                                </td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="5">No hay bodegas registradas</td>
                            </tr>
                        </ng-template>

                        <ng-template pTemplate="summary">
                            <div class="flex align-items-center justify-content-between">
                                Total bodegas: {{bodegas ? bodegas.length : 0 }}
                            </div>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>

