<input type="file" class="form-control"  multiple (change)="uploadFiles($event)" />

<div *ngIf="files.length > 0">
    <h3>Progreso de carga:</h3>
    <div *ngFor="let file of files">
        <p>{{ file.name }} - {{ file.progress | number: '1.0-0' }}%</p>
        <div class="progress-bar">
            <div class="progress" [style.width.%]="file.progress"></div>
        </div>
        <a *ngIf="file.url" [href]="file.url" target="_blank">Ver archivo</a>
    </div>

    <h4>Progreso total: {{ overallProgress | number: '1.0-0' }}%</h4>
    <div class="progress-bar">
        <div class="progress" [style.width.%]="overallProgress"></div>
    </div>
</div>