
<app-breadcrumb [title]="'Ocasiones'" [items]="['Proceso/Ocasiones']" [active_item]="'Ocasiones'"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <i class="icon-bg" width="80" height="80"
          style="opacity: 0.4;position: absolute; color: #6ec0d4; top: 10px; left: 10px;" data-feather="briefcase"></i>
        <div class="loader-box" *ngIf="cargando">
          <div class="loader-8"></div>
        </div>

        <div class="card-body custom-datatable" *ngIf="!cargando">
          <div class="row">
            <div class="col-sm-6">
              <input type='text' class="filter-ngx form-control mb-3"
                placeholder="{{'Escribe el texto que desees filtrar' | translate}}" (keyup)='updateFilter($event)' />
            </div>
            <div class="col-sm-6 mb-3" style="text-align: end;">

              <button class="btn btn-primary btn-previous ml-3 mb-2" type="button" (click)="crearVariables()">
                <span style="color: white; ;">{{'Crear Variables' | translate}}</span>
                <i placement="top" ngbTooltip="Nuevo"
                  style="font-size: 18px; margin-left: 10px; color:white; cursor: pointer;"
                  class="icofont icofont-plus"></i>
              </button>
            </div>
            <div class="col-sm-6 mb-3" style="text-align: end;">

              <button class="btn btn-primary btn-previous ml-3" *ngIf="userNit === '1'" type="button"
                (click)="crear()">{{'New' |
                translate}}
                <i placement="top" ngbTooltip="{{'New' | translate}}"
                  style="font-size: 18px; margin-left: 10px; color:white; cursor: pointer;"
                  class="icofont icofont-plus"></i>
              </button>
            </div>
          </div>
          <div class="datatable-scroll">
            <ngx-datatable #table class='material' [columns]="columns" [columnMode]="ColumnMode.force"
              [headerHeight]="30" [footerHeight]="50" rowHeight="auto" [limit]="10" [rows]="rows"
              [sorts]="[{ prop: 'nit', dir: 'asc' }]">
              <ngx-datatable-column name="{{'Id' | translate}}" *ngIf="!isMobile" class="datatable-header">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.id }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'Título' | translate}}">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.titulo }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'Variable' | translate}}">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.variable }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{'Valor' | translate}}">
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.valor }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
          <br>
          <button class="btn btn-primary" style="color: white;"><i class="icofont icofont-file-excel"></i>Excel</button>
        </div>
      </div>
    </div>
  </div>
</div>