
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12p-2">
      <br>
      <div class="card">
        <i class="icon-bg" width="80" height="80"
          style="opacity: 0.4;position: absolute; color: #6ec0d4; top: 10px; left: 10px;"></i>

        <div class="loader-box" *ngIf="cargando">
          <div class="loader-8"></div>
        </div>

        <!-- Header Standar -->
        <div class="row col-12 m-2">
          <div class="col-6">
            <p class="text-left fc-info fs-24 m-0 p-0">Tipos de entrega</p>
            <p class="text-left text-muted fs-18 m-0 p-0">
              Usadas en la venta para definir la forma en como se programa la entrega.
            </p>
          </div>
          <div class="col-6 p-3" style="text-align: end">
            <button class="btn btn-primary btn-previous ml-3 mb-2" type="button" (click)="create()">
              <i placement="top" ngbTooltip="Nuevo"
                style="font-size: 18px; color: white; cursor: pointer;"
                class="icofont icofont-plus"></i>&nbsp;
              <span style="color: white;">{{'Crear tipo de entrega' | translate}}</span>
            </button>
            <button class="btn btn-primary ml-3 mb-2 mr-5">
              <i class="icofont icofont-file-excel"></i>&nbsp;{{ 'Excel' | translate }}
            </button>
          </div>

        <div class="card-body custom-datatable" *ngIf="!cargando">
        

          <p-table #dt [value]="rows" [paginator]="true" [rows]="10" [resizableColumns]="true" [scrollable]="true"
          scrollHeight="flex" [loading]="cargando" [rowsPerPageOptions]="[10, 20, 50]" [sortField]="'posicion'"
          [sortOrder]="1" styleClass="p-datatable-gridlines p-datatable-striped"
          [tableStyle]="{ 'min-width': '20rem' }" [rowHover]="true">
            <ng-template pTemplate="header">
              <tr>
                <th style="text-align: center">{{ 'Posición' | translate }}</th>
                <th>{{ 'Nombre interno' | translate }}</th>
                <th>{{ 'Activo' | translate }}</th>
                <th>{{ 'Formas de entrega' | translate }}</th>
                <th>{{ 'Acciones' | translate }}</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row>
              <tr>
                <td style="text-align: center">{{ row.posicion }}</td>
                <td>{{ row.nombreInterno }}</td>
                <td>{{ row.activo ? 'Sí' : 'No' }}</td>
                <td>{{ row.formaEntrega }}</td>
                <td>
                  <i placement="top" ngbTooltip="{{'Edit' | translate}}"
                    style="font-size: 18px; margin-left: 10px;  cursor: pointer;"
                    class="icofont icofont-pencil-alt-5 fc-primary" (click)="editar(row)">
                  </i>
                  <i placement="top" ngbTooltip="{{'Eliminar' | translate}}"
                    style="font-size: 18px; margin-left: 10px; cursor: pointer;" class="icofont icofont-trash fc-danger"
                    (click)="eliminarFila(row)">
                  </i>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="summary">
              <div class="flex align-items-center justify-content-between">
                Total en esta consulta: {{rows ? rows.length : 0 }} registros.
              </div>
            </ng-template>
          </p-table>

        </div>
      </div>
    </div>
  </div>
</div>
