@import "primeng/resources/themes/lara-light-blue/theme.css";

.backColorSwitch {
    background-image: url("./assets/images/dashboard/bg-fondo-swy.png") !important;
    color: orange;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #4b9ac8 !important;
}

.bg-swayp {
    background-color: #a554df !important
  }