.p-table-tr-th>th {
  background-color: #f2f2f2;
  border: 0px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #666;
  min-width: 20rem;
}

.p-table-tr-tr>td {
  border: 0px solid #ddd;
  padding: 2px !important;
  text-align: left;
  font-size: 8px;
  color: #666;
  //   min-width: 7rem;
}

.p-table-tr-tr>td>button {
  margin: 0 0.5rem;
}

.td-money {
  text-align: right !important;
}

.td-expand-carrito-producto-descripcion {
  max-width: 50% !important;
}

.fa {
  cursor: pointer;
  margin: 0 10px;
}

.withoutmargin {
  margin: 0 !important;
  padding: 0 !important;
}


.filters-container {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
}

.filters-container label {
  display: block;
  margin-bottom: 0.5rem;
}

/* Ajustes adicionales para espaciado entre botones */
.filters-container .p-button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Para pantallas pequeñas */
@media (max-width: 576px) {
  .filters-container .d-flex {
    flex-direction: column;
  }

  .filters-container .p-button {
    width: 100%;
    margin-right: 0;
  }
}


.container.withoutmargin {
  margin: 0;
  padding: 0;
}

.row.mb-4 {
  margin-bottom: 1.5rem;
}

.p-button-success {
  background-color: #28a745;
  border-color: #28a745;
}

.p-button-warning {
  background-color: #ffc107;
  border-color: #ffc107;
}

.p-input-icon-right {
  position: relative;
}

.p-input-icon-right i {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.search-bar {
  width: 100%;
  max-width: 400px;
  /* Ajusta este valor según sea necesario */
}

.search-input {
  width: 100%;
}

@media (max-width: 767.98px) {
  .d-flex.align-items-end {
    align-items: flex-end !important;
  }

  .mr-2 {
    margin-right: 0.5rem !important;
  }
}


.modal-body {
  padding: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.modal-header {
  background-color: #f8f9fa;
  border-bottom: 1px solid #dee2e6;
}

.modal-title {
  font-weight: bold;
}

.btn-primary {
  background-color: #484848;
  border-color: #484848;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.pdb-3 {
  padding-bottom: 3rem;
}


.p-table-tr-th>th {
  background-color: #f2f2f2;
  border: 0px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #666;
  min-width: 20rem;
}

.p-table-tr-tr>td {
  border: 0px solid #ddd;
  padding: 2px !important;
  text-align: left;
  font-size: 8px;
  color: #666;
  //   min-width: 7rem;
}

.p-table-tr-tr>td>button {
  margin: 0 0.5rem;
}

.td-money {
  text-align: right !important;
}

.td-expand-carrito-producto-descripcion {
  max-width: 50% !important;
}

.fa {
  cursor: pointer;
  margin: 0 10px;
}

.withoutmargin {
  margin: 0 !important;
  padding: 0 !important;
}


.filters-container {
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
}

.filters-container label {
  display: block;
  margin-bottom: 0.5rem;
}

/* Ajustes adicionales para espaciado entre botones */
.filters-container .p-button {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

/* Para pantallas pequeñas */
@media (max-width: 576px) {
  .filters-container .d-flex {
    flex-direction: column;
  }

  .filters-container .p-button {
    width: 100%;
    margin-right: 0;
  }

}

/* Asegúrate de que este archivo CSS esté siendo correctamente importado en tu proyecto */
.swal2-container .swal2-popup.swal2-custom-width {
  width: 80% !important;
  /* Ajusta este valor según sea necesario */
  max-width: none !important;
  /* Elimina cualquier límite en el ancho */
}

.swal2-container .swal2-content {
  overflow-x: auto;
  /* Agregar barra de desplazamiento horizontal si el contenido es muy amplio */
}

.btn-imprimir {
  background-color: #007bff;
  /* Color de fondo azul */
  color: white;
  /* Color del texto blanco */
  border: none;
  /* Sin bordes */
  padding: 10px 20px;
  /* Relleno */
  margin: 5px 0;
  /* Margen */
  border-radius: 5px;
  /* Bordes redondeados */
  cursor: pointer;
  /* Manito al pasar el ratón */
  font-size: 16px;
  /* Tamaño de fuente */
}

/* Estilo al pasar el ratón sobre el botón */
.btn-imprimir:hover {
  background-color: #0056b3;
  /* Color de fondo azul oscuro */
}

.tabs {
  position: relative;
  min-height: 200px;
  /* Cambia según el contenido */
  clear: both;
  margin: 25px 0;
}

.tab-control input {
  display: none;
}

.tabs ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

.tabs ul li {
  width: 100%;
  text-align: center;
}

.tabs ul li label {
  display: block;
  padding: 10px;
  cursor: pointer;
  background: #f1f1f1;
  border: 1px solid #ddd;
}

.tabs ul li label:hover {
  background: #ddd;
}

.tabs .content {
  border: 1px solid #ddd;
  border-top: none;
  padding: 20px;
  background: #fff;
}

.tabs .content section {
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.tabs input:checked+label {
  background: #fff;
  border-bottom: 1px solid #fff;
}

.tabs input:checked+label+.content section {
  display: block;
}

/* Keyframes para la animación */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Estilo del modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.show {
  display: block;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.text-small {
  font-size: small !important;
}